:root {
}

.button {
    background-color: rgba(0, 0, 0, 0);
    font-size: 100px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    white-space: normal;
    -unity-text-auto-size: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    visibility: visible;
    overflow: visible;
    display: flex;
    opacity: 1;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: rgb(0, 0, 0);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.button:hover {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.button:hover .arrow {
    background-color: rgb(255, 255, 255);
    scale: 1 1;
}

.button-title {
    flex-grow: 0;
    -unity-font-definition: url("project://database/Assets/Fonts/uglyhandwriting.ttf?fileID=12800000&guid=4f741aaafd7179141a0f00b03480749d&type=3#uglyhandwriting");
    color: rgba(255, 255, 255, 0.604);
    font-size: 100px;
    -unity-font-style: bold;
}

.button:hover .button-title {
    color: rgb(255, 255, 255);
    -unity-font-definition: url("project://database/Assets/Fonts/uglyhandwriting.ttf?fileID=12800000&guid=4f741aaafd7179141a0f00b03480749d&type=3#uglyhandwriting");
}

.screen {
    flex-grow: 1;
    display: flex;
}

.screen--hidden {
    display: none;
}

.option-row {
    flex-direction: column;
    width: 1600px;
    height: 150px;
    color: rgb(129, 129, 129);
}

.option-describtion {
    color: rgba(129, 129, 129, 0);
    transition-duration: 0.15s;
    transition-property: color;
    transition-timing-function: ease-out;
    -unity-font-definition: url("project://database/Assets/Fonts/uglyhandwriting.ttf?fileID=12800000&guid=4f741aaafd7179141a0f00b03480749d&type=3#uglyhandwriting");
}

.option-row:hover .option-describtion {
    color: rgb(129, 129, 129);
}

.arrow .button{
    width: auto;
    height: 100%;
    transition-duration: 0.4s;
    transition-timing-function: ease-out-back;
    aspect-ratio: 0;
    background-image: url("project://database/Assets/Textures/Arrow-Right-HQ.png?fileID=2800000&guid=516cfa04c3fb627459762beea05e6bd2&type=3#Arrow-Right-HQ");
    background-color: rgba(0, 0, 0, 0);
}

.button:hover .arrow {
    width: auto;
    flex-shrink: 0;
    height: 100%;
    aspect-ratio: 1;
    background-image: url("project://database/Assets/Textures/Arrow-Right-HQ.png?fileID=2800000&guid=516cfa04c3fb627459762beea05e6bd2&type=3#Arrow-Right-HQ");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.button-title-red {
    -unity-font-definition: url("project://database/Assets/Fonts/uglyhandwriting.ttf?fileID=12800000&guid=4f741aaafd7179141a0f00b03480749d&type=3#uglyhandwriting");
    font-size: 100px;
    -unity-font-style: bold;
    color: rgba(255, 109, 109, 0.6);
}

.button:hover .button-title-red {
    -unity-font-definition: url("project://database/Assets/Fonts/uglyhandwriting.ttf?fileID=12800000&guid=4f741aaafd7179141a0f00b03480749d&type=3#uglyhandwriting");
    font-size: 100px;
    -unity-font-style: bold;
    color: rgb(255, 109, 109);
}
